---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---
<div class="md:flex">
    <div class="md:shrink-0">
		<li class="link-card  animate-pulse bg-red-200  hover:border-dotted transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 hover:border-4 hover:border-slate-500 bg-white shadow-lg shadow-slate-400">
			<a href={href} class="flex justify-center items-center">
				<h2>
					{title}
					<span>&rarr;</span>
				</h2>
				<p>
					{body}
				</p>
			</a>
		</li>
	</div>
</div>
<style>

	.link-card{
	list-style: none;
	width: 420px;
	height: 310px;
	margin: 5em auto 2em;
	border-radius: 5px 25px 25px 25px;
	filter: drop-shadow(0 0 0.75rem grey);
	background: white;
	position: relative;
	}

	.link-card::before{
    content:  '';
    position: absolute;
    top: -18px;
    width: 200px;
    height: 25px;
    background: white;
    border-radius: 25px 0 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');	
	}

  .link-card::after{
  content: '';
  position: absolute;
  left:  40px;
  width: 85px;
  height: 5px;
  top: -18px;
  background: #7036E9;
  border-radius: 0 0 5px 5px;
 }

 @media (max-width: 785px){

	.link-card{
	list-style: none;
	width: 200px;
	height: 120px;
	margin: 5em auto 2em;
	border-radius: 5px 25px 25px 25px;
	filter: drop-shadow(0 0 0.75rem grey);
	background: white;
	position: relative;
	}

	.link-card::before{
    content:  '';
    position: absolute;
    top: -18px;
    width: 100px;
    height: 25px;
    background: white;
    border-radius: 25px 0 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 300 18 L 0 50 z');	
	}

  .link-card::after{
  content: '';
  position: absolute;
  left:  30px;
  width: 40px;
  height: 5px;
  top: -18px;
  background: #7036E9;
  border-radius: 0 0 25px 25px;
 }
 }

</style>
