---

---

<form class="flex flex-col items-center justify-center gap-8 text-white">
    <h2>Contact</h2>
    <div class="gap-8">
        <div class="flex flex-rows gap-2 py-8">
            <label>
                Username:
                <input type="text" name="username"/>
            </label>
            <label>
                Email:
                <input type="email" name="email"/>
            </label>
        </div>
        <label>
            <textarea class="text-black w-full h-60" placeholder="Write down ur comment"></textarea>
        </label>
    </div>
    <button class="button-send">Send</button>
</form>