---
import Social from "./Social.astro";
---

<footer class="h-30 bg-zinc-800 text-white py-8 px-8 border-dashed border-t-4">
    <div class="container mx-auto">
        
        <div class="grid place-items-center">
            <h2 >Copyright 2023 - Pierre-Yves Le Gall</h2>
            <div class="py-4">
            <Social platform="github" username="PYLG2" />
            <Social platform="linkedin" username="in/pierreyves-legall/"/>
            </div>
        </div>
    </div>
</footer>
