---

---
<div  id="resume" class="border-b-4 border-dashed py-8 mb-8">
    <div class="container mx-auto flex flex-col items-center">
        <h2 class="text-white text-4xl py-2 max-w-3xl">Resume</h2>
        <div class="border-4 border-dashed w-2/4 rounded"><p class="text-white px-4 py-4" >Lorem lipsum</p></div>
    </div>
</div>